<section class="quiz">
    <div class="heading">
        <h2>Quizzes & Exercises</h2>
        <!-- <button class="button" style="padding: 5px 10px;">All Explore </button> -->
    </div>
    <br>
    <div class="quiz-row">
        <div class="quiz-card quizColor">
            @defer (on viewport) {
            <div class="quiz-img">
                <img src="assets/images/homepage/Quiz.jpg" alt="Quiz">
            </div>
            } @placeholder {
                <div>Loading....</div>
            }
            @defer (on viewport) {
            <div class="quiz-para">
                <div class="quiz-heading">Quizzes</div>
                <div class="quiz-text">We have made every programming, competition,job interview etc into quiz. Which
                    will help you a lot.</div>
                <div class="quiz-btn">
                    <button><a href="">Let's see</a></button>
                </div>
            </div>
            } @placeholder {
                <div>Loading....</div>
            }
        </div>
        <div class="quiz-card exerciseColor">
            @defer (on viewport) {
            <div class="quiz-img">
                <img src="assets/images/homepage/Exercise.jpg" alt="" srcset="">
            </div>
            } @placeholder {
                <div>Loading....</div>
            }
            @defer (on viewport) {
            <div class="quiz-para">
                <div class="quiz-heading">Exercises</div>
                <div class="quiz-text">Here you have developed exercises to strengthen every course or skill. We hope
                    that it will help you well.</div>
                <div class="quiz-btn">
                    <button><a href="">Let's see</a></button>
                </div>
            </div>
            } @placeholder {
                <div>Loading....</div>
            }
        </div>
    </div>
</section>