<section class="library">
    <div class="heading">
        <h2>Free- Online-Library</h2>
        <button class="button" style="padding: 5px 10px;">All Explore </button>
    </div><br>
    <div class="library-row">
        @for (libraryItem of library; track $index) {
        @defer (on viewport){
        <div class="library-card">
            <div class="library-card-heading">
                <mat-icon style="color: #26A69A;">{{libraryItem.icons}}</mat-icon> {{libraryItem.CardTitle_web}}
            </div>
            @defer (on viewport){
            <div class="library-card-icons">
                @for (item of libraryItem.cardiconsList; track $index) { <div class="Icons-card">
                    <a [href]="item.Urlbase" [title]="item.LibraryTitle">
                        <img [src]="item.LibraryImg" [alt]="item.LibraryTitle">
                        <span>{{item.LibraryTitle}}</span>
                    </a>
                </div>}
            </div>
            }@placeholder {
                <div>Loading....</div>
            }

            <div class="library-card-link">
                <button ><a [href]="libraryItem.linkurl">Let's see</a></button>
            </div>
        </div>
        }@placeholder {
            <div>Loading....</div>
        }

        }
    </div>
</section>