<header class="banner">
    <div class="banner-content">
        @defer (on viewport) {
        <div class="left-content">
            <h1>Code_Lekhak - Quality Tutorials, Video Courses, and eBooks</h1>
            <p>India's #1 Free Learn to Code platform. With the world's largest web developer site..</p>

            <div class="typing-text">
                <span class="one"><span class="spancolor">HTML</span>, CSS, JavaScript, <span class="spancolor">React js
                    </span></span>
                <span class="two">Angular <span class="spancolor">Full..</span></span>
            </div>
            <br>
            <button class="banner-button button" (click)="openContact()">Talk to expert</button>
        </div>
        <div class="right-content">
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <button>Search</button>
            </div>
            <!-- Alternatively, you can use an image here -->
            <!-- <img src="/assets/images/satendra.png" alt="Right Image"> -->
        </div>
        } @placeholder {
        <div>Loading..</div>
        }
    </div>
</header>